<template>
  <div class="app">
	<div class="feed">
	 <div class="header">
	      <h1 class="title">{{msg}}</h1>
	 </div>
	 <div v-infinite-scroll="loadPhoto" infinite-scroll-disabled="busy" infinite-scroll-distance="limit" class="grid"> 
      <card
        v-for="(photo, index) in photos"
        v-bind:photo="photo"
        v-bind:key="index">
      </card>
	 </div>
	</div>
  </div> 
</template>

<script>
import axios from "axios";
import Card from './Card'
import $ from 'jquery'

export default {
  name: "Photo",
  components: {
    Card
  },
  data() {
    return {
      msg: "Flick API with infinity scroll",
      photos: [],
      tags: '',
      busy: false,
      limit: 20,
      author: ''
    };
  },

  methods: {

    loadPhoto: function () {
      this.busy = true;	
      $.ajax({
        url: `https://api.flickr.com/services/feeds/photos_public.gne?format=json&jsoncallback=?`,
        dataType: 'json'
      }).then((data) => {
      	this.photos = data.items
      	const append = this.photos.slice(this.photos.length,this.photos.length + this.limit ) 
        this.photos = this.photos.concat(append);
        this.busy = false;
      }).catch((err) => {
		this.busy = false;
	  });
    }
  },
  created() {
   this.loadPhoto();
  }
};
</script>

<style lang="scss">
.feed {
  text-align: left;
}
.header {
  padding: 10px;
  display: flex;
  justify-content: space-between;
}
.title {
  margin: 0;
  flex-grow: 1;
}
.search-box {
  display: flex;
  min-height: 43px;
  padding: 3px 0;
  flex-grow: 1;
}
.search-input {
  font-family: 'Playfair Display', serif;
  box-sizing: border-box;
  font-size: 16px;
  display: block;
  padding: 3px 8px;
  margin-right: 10px;
  border-radius: 3px;
  border: 1px solid #ccc;
  flex-grow: 1;
}
.search-button {
  font-family: 'Playfair Display', serif;
  font-weight: 900;
  font-size: 16px;
  display: block;
  padding: 3px 8px;
  border-radius: 3px;
  border: 1px solid #888;
  background-color: #f1f1f1;
  color: #333;
}
.grid {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 700px) {
  .header {
    flex-direction: column;
  }
  .title {
    margin-bottom: 10px;
  }
}
</style>